@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

body {
    background-image: url('http://localhost/EcoScape/assets/canada.jpg');
    background-size: cover;
    /* Para asegurarte de que la imagen de fondo cubra todo el fondo */
    background-position: center;
    background-repeat: no-repeat;
}

.logo-container {
    position: relative;
    width: 600px;
    /* Ancho del logo */
    height: auto;
    /* Altura del logo */
    margin: 0 auto;
}

.logo {
    width: 100%;
    height: 100%;
}

.particles-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    pointer-events: none;
}

.particle {
    position: absolute;
    width: 10px;
    /* Ancho de cada partícula */
    height: 10px;
    /* Altura de cada partícula */
    background-color: rgba(12, 208, 222, 0.5);
    /* Color de las partículas */
    border-radius: 50%;
    /* Forma circular */
    animation: orbit 3s linear infinite;
    /* Animación de órbita */
}

@keyframes orbit {
    from {
        transform: rotate(0deg) translateX(50px) rotate(0deg);
        /* Inicial: posición y rotación */
    }
    to {
        transform: rotate(360deg) translateX(50px) rotate(-360deg);
        /* Final: posición y rotación */
    }
}

/* Posiciona cada partícula alrededor del logo */
.particle:nth-child(1) {
    top: 20px;
    left: 20px;
}

.particle:nth-child(2) {
    top: 20px;
    right: 20px;
}

.particle:nth-child(3) {
    bottom: 20px;
    left: 50%;
}

.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

.wrapper {
    margin-inline-end: 15px;
    width: 45%;
    height: auto;
    background-color: rgba(225, 225, 250, 0.05);
    backdrop-filter: blur(75px);
    box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
    border: 4px solid rgba(255, 255, 255, .1);
    border-radius: 24px 0px;
    padding: 40px;
    pointer-events: none;
}

/* .wrapper {
    position: fixed;
    top: 50%;
    left: 70%;
    transform: translate(-70%, -50%);
    width: 50%;
    height: auto;
    background: transparent;
    backdrop-filter: blur(15px);
    box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
    border: 4px solid rgba(255, 255, 255, .1);
    border-radius: 24px 0px;
    z-index: 100;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    opacity: 0;
    pointer-events: none;
} */

.section .logreg-box {
    width: 100%;
}

.section .media-options {
    text-align: center;
}

.wrapper.active-popup {
    opacity: 1;
    pointer-events: auto;
}

.wrapper .logreg-box {
    width: 100%;
}

.wrapper .form-box.login {
    display: block;
}

.wrapper.active .form-box.login {
    display: none;
}

.wrapper .form-box.register {
    display: none;
}

.wrapper.active .form-box.register {
    display: block;
}

.logreg-box .logreg-title {
    text-align: center;
    margin-bottom: 40px;
    color: #000;
}

.logreg-title h2 {
    font-size: 32px;
}

.logreg-title p {
    font-size: 18px;
    font-weight: 500;
}

.logreg-box .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    border-bottom: 2px solid #000;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    color: #000;
    font-weight: 500;
    padding-right: 25px;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 18px;
    color: #000;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}

/*.label-username {
    position: relative;
    top: 50%;  
    width: 24em;
    margin: 0 auto;
    border-right: 2px solid rgba(255,255,255,.75);
    font-size: 180%;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    transform: translateY(-50%);    
}

.anim-typewriter{
    animation: typewriter 4s steps(44) 1s 1 normal both,
               blinkTextCursor 500ms steps(44) infinite normal;
  }
  @keyframes typewriter{
    from{width: 0;}
    to{width: 24em;}
  }
  @keyframes blinkTextCursor{
    from{border-right-color: rgba(255,255,255,.75);}
    to{border-right-color: transparent;}
  }  
*/

.input-box .icon {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 20px;
    color: #000;
}

.logreg-box .remember-forgot {
    font-size: 18px;
    color: #000;
    font-weight: 500;
    margin: -15px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forgot label input {
    accent-color: #000;
    margin-right: 3px;
}

.remember-forgot a {
    color: #000;
    text-decoration: none;
}

.remember-forgot a:hover {
    text-decoration: underline;
}

.logreg-box .btn {
    width: 100%;
    height: 45px;
    /* background: #335151; */
    background: linear-gradient(130deg, #ff7a18, #af002d 41.07%, #319197 76.05%);
    border: none;
    outline: none;
    border-radius: 24px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    cursor: pointer;
    font-size: 18px;
    color: #C0D1C2;
    font-weight: 600;
    transition: background-color 0.3s ease;
}

.logreg-box .btn:hover {
    background-color: #C0D1C2;
    color: #000
}

.logreg-box .logreg-link {
    font-size: 18px;
    color: #000;
    text-align: center;
    font-weight: 500;
    margin: 25px 0 15px;
}

.logreg-link p a {
    color: #000;
    text-decoration: none;
    font-weight: 600;
}

.logreg-link p a:hover {
    text-decoration: underline;
}

.media-options {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.media-options a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 45%;
    height: 50px;
    background: transparent;
    border: 2px solid #000;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    border-radius: 24px 0;
    color: #000;
    text-decoration: none;
    transition: .5s;
}

.media-options a:hover {
    background: rgba(255, 255, 255, .1);
}

.media-options a i {
    font-size: 22px;
    margin: 0 8px 1.5px 0;
}

.media-options a span {
    font-size: 18px;
    font-weight: 500;
}

#error-message, #signup-error-message {
    text-align: center;
    padding: 15px 0;
    border-radius: 24px 0;
    color: rgb(250, 250, 250);
    font-style: normal;
    font-size: 20px;
}

#error-message, #signup-error-message i {
    margin: 0 15px;
}