@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Questrial&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Esto previene cualquier desplazamiento no deseado */
}

.user-img {
  width: 50px;
  border-radius: 20px 2px;
  border: 1px solid #12171e;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh; /* Asegura que el sidebar ocupe toda la altura de la ventana */
  width: 80px;
  background-color: #C0D1C2;
  padding: 0.4rem 0.8rem;
  transition: all 0.5s ease;
}



.sidebar.active~.main-content {
  left: 250px;
  width: calc(100% - 250px);
}

.sidebar.active {
  width: 250px;
}

.sidebar #btn {
  position: absolute;
  color: #12171e;
  top: .4rem;
  left: 50%;
  font-size: 1.2rem;
  line-height: 50px;
  transform: translateX(-50%);
  cursor: pointer;
}

.sidebar.active #btn {
  left: 90%;
}

.sidebar .top .logo {
  color: #12171e;
  display: flex;
  height: 50px;
  width: 90%;
  align-items: center;
  opacity: 0;
}

.sidebar.active .top .logo {
  opacity: 1;
}

.sidebar .top .logo a {
  text-decoration: none;
  color: #12171e;
}

.sidebar .top i:hover {
  background-color: rgba(225, 225, 250, 0.05);
  backdrop-filter: blur(6px);
  box-shadow: -1px 0 10px rgba(0, 0, 0, .2);
}

.top .logo {
  font-size: 1.5rem;
  margin-right: 10px;
  justify-content: space-evenly;
}

.user {
  display: flex;
  align-items: center;
  margin: 1rem 0;
}

.user p {
  color: #12171e;
  opacity: 1;
  margin-left: 1rem;
}

.bold {
  font-weight: 600;
}

.sidebar p {
  opacity: 0;
}

.sidebar.active p {
  opacity: 1;
}

.sidebar ul li {
  position: relative;
  list-style-type: none;
  height: 50px;
  width: 90%;
  margin: 0.8rem auto;
  line-height: 50px;
}

.sidebar ul li a {
  color: #12171e;
  display: flex;
  align-items: center;
  text-decoration: none;
  border-radius: 0.8rem;
}

.sidebar ul li a:hover {
  background-color: #12171e;
  color: #fff;
}

.sidebar ul li a i {
  min-width: 50px;
  text-align: center;
  height: 50px;
  border-radius: 12px;
  line-height: 50px;
}

.sidebar .nav-item {
  opacity: 0;
}

.sidebar.active .nav-item {
  opacity: 1;
}

.sidebar ul li .tooltip {
  position: absolute;
  left: 125px;
  top: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  background-color: #12171e;
  box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.2);
  border-radius: .6rem;
  padding: .4rem 1.2rem;
  line-height: 1.8rem;
  z-index: 20;
  opacity: 0;
}

.sidebar ul li:hover .tooltip {
  opacity: 1;
}

.sidebar.active ul li .tooltip {
  display: none;
}

.main-content {
  background-image: url('http://localhost/EcoScape/assets/canon.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  position: relative;
  background-color: #eee;
  height: 100vh; /* Asegúrate de que ocupe toda la altura de la ventana */
  min-height: 100vh;
  top: 0;
  left: 80px; /* Alinea el contenedor principal con el sidebar */
  transition: all 0.5s ease;
  width: calc(100% - 80px);
  padding: 1rem;
}



.content-section {
  display: none;
}

.content-section.active {
  display: block;
  text-align: center;
  /* margin-top: 20px; */
  font-family: inherit;
}

.logo-section {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  align-self: flex-end;
  /* animation: pulse 2s infinite; */
}

.logo-section img {
  width: 100px;
  height: auto;
  margin-top: 20px;
  overflow: hidden;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

#user.content-section {
  background-color: #f3f3f3;
  padding: 2rem;
  border-radius: 24px 0;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
}

#user h1 {
  font-size: 1.5rem;
  color: #333;
  margin-bottom: 1rem;
}

#user form label {
  display: block;
  font-size: 1rem;
  color: #555;
  margin-bottom: 0.5rem;
}

#user form input[type="text"],
#user form input[type="password"],
#user form input[type="email"],
#user form input[type="file"] {
  width: calc(100% - 2rem);
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}

#user form button {
  display: inline-flex;
  align-items: center;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: #12171e;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#user form button:hover {
  background-color: #C0D1C2;
  color: #12171e;
}

#user form button i {
  margin-left: 0.5rem;
}

#viajes.content-section {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  max-width: 950px;
  flex-wrap: wrap;
  opacity: 0;
}

#viajes.content-section.active {
  opacity: 1;
  display: flex;
}

.card {
  margin: 25px;
  width: 200px;
  height: 350px;
  background: #f3f3f3;
  border-radius: 24px 0px;
  box-shadow: 0px 0px 4px -1px #222;
  position: relative;
  transition: all 1s;
}

.card:hover {
  transform: scale(1.1);
}


.card-image {
  width: 200px;
  height: 150px;
  border-radius: 24px 0 0 0;
  object-fit: cover;
}

.card-content {
  padding: 0 25px;
}

.card-content h1 {
  font-size: 0.9rem;
}

.card-content ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 10px;
}

.card-content ul li {
  font-size: 0.6rem;
  display: flex;
  align-items: center;
  margin: 3px 0px;
  color: gray;
  font-weight: bold;
}

.card-content li svg {
  width: 16px;
  height: 16px;
  /* margin-right: 5px; */
}

.single-product {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  width: 200px;
}

.product-img {
  position: relative;
  width: 100%;
  height: 300px;
  overflow: hidden;
  border-bottom: 1px solid #ddd;
}

.product-img img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.product-dsc {
  padding: 10px 0;
  text-align: center;
}

.product-dsc p {
  margin: 0;
}

.product-dsc a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

.product-dsc span {
  color: #555;
}

.remove-favorite {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.remove-favorite:hover {
  background-color: #c82333;
}
